.topheader {
  position: fixed;
  background-color: #0096c7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.Menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #0a0a0a;
}

.Menu-horizontal li a:hover {
  color: #48cae4;
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  width: 100%;
  background-color: #f9fafb;
}

.Menu-horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  padding: 0.9375rem 0.9375rem 0.9375rem 1.25rem;
  color: #0a0a0a;
}

.Seccion-Productos {
  padding: 3.75rem 3.125rem;
  background-color: #90e0ef;
}

.Div-General-Productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.Div-Producto-Text {
  flex: 1;
}

.Div-Producto-Text h2 {
  color: #023e8a;
  margin-bottom: 0.9375rem;
}

.Div-Producto-Text p {
  color: #0a0a0a;
  line-height: 1.5;
}

.Div-Producto-Img {
  flex: 1;
}

.Div-Producto-Img img {
  width: 100%;
  max-width: 31.25rem;
}

.Seccion-Salud {
  text-align: center;
  padding: 3.75rem 1.25rem;
  background-color: #d8f9ff;
  max-width: 62.5rem;
  margin: 0rem auto;
}

.Seccion-Salud h2 {
  color: #023e8a;
  font-size: 2rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.1875rem solid #0096c7;
  display: inline-block;
  padding-bottom: 0.3125rem;
}

.Div-Asma-Video iframe {
  width: 100%;
  max-width: 35rem;
  height: 19.6875rem;
  border-radius: 0.625rem;
  border: none;
}

.Seccion-Formulario {
  background-color: #48cae4;
  padding: 2.5rem;
  border: 0.1875rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.Div-Cont-Formulario {
  background-color: #f9fafb;
  padding: 1.875rem;
  border: 0.125rem solid #90e0ef;
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}

.Campo {
  border: 0.0625rem;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  border-radius: 0.5rem;
  background-color: #e3f6ff;
}

.Formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #0a0a0a;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #0096c7;
  border-radius: 0.3125rem;
}

.Lista-Checkbox,
.Lista-Radio {
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  border: 0.0625rem;
  background-color: #f9fafb;
  border-radius: 0.0625rem;
}

.button {
  background-color: #023e8a;
  color: black;
  border: 0.0625rem solid black;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.footer {
  background-color: #222;
  color: white;
  padding: 2rem 1rem;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
  gap: 2rem;
}

.footer-brand {
  flex: 1;
  min-width: 12.5rem;
}

.footer-logo {
  width: 3.75rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.footer-links {
  flex: 1;
  min-width: 12.5rem;
}

.footer-links a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 0.3rem 0;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social {
  flex: 1;
  min-width: 12.5rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 48rem) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social img {
    margin-bottom: 0.5rem;
  }
}
